* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rubik", sans-serif;
    overflow: auto;
}

.main {
    min-height: 100vh;
}

.game-disp {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.game-data {
    padding: 1em;
}

.topnav {
    display: flex;
    padding: 1em;
}

.topnav a, p {
    padding-left: 0.5em;
    padding-right: 0.5em;
}